workflows/indeed_scraper/Indeed-job-scraper.json
{
  "name": "JOB SCRAPE PART1",
  "nodes": [
    {
      "parameters": {
        "actorId": {
          "__rl": true,
          "value": "MXLpngmVpE8WTESQr",
          "mode": "list",
          "cachedResultName": "🚀 Indeed jobs scraper [PPR] (borderline/indeed-scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/MXLpngmVpE8WTESQr/input"
        },
        "customBody": "{\n  \"country\": \"in\",\n  \"enableUniqueJobs\": false,\n  \"level\": \"entry_level\",\n  \"maxRows\": 30,\n  \"query\": \"Data Analyst\"\n}",
        "timeout": {}
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "9d17d14e-36dc-49b1-a9bc-9bcaee95790e",
      "name": "Run an Actor",
      "credentials": {
        "apifyApi": {
          "id": "xuqnvKI4POvdEopY",
          "name": "Apify account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "Datasets",
        "datasetId": "={{ $json.defaultDatasetId }}",
        "offset": {}
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "id": "8bb8185a-b174-4979-b750-1402b87d0428",
      "name": "Get dataset items",
      "alwaysOutputData": true,
      "credentials": {
        "apifyApi": {
          "id": "xuqnvKI4POvdEopY",
          "name": "Apify account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app9WmiMQrvu1Zq6w",
          "mode": "list",
          "cachedResultName": "Job Scraper",
          "cachedResultUrl": "https://airtable.com/app9WmiMQrvu1Zq6w"
        },
        "table": {
          "__rl": true,
          "value": "tbl9WBGpIv9OPjgvE",
          "mode": "list",
          "cachedResultName": "Indeed Jobs",
          "cachedResultUrl": "https://airtable.com/app9WmiMQrvu1Zq6w/tbl9WBGpIv9OPjgvE"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Job Key": "={{ $json.jobKey }}",
            "Job Title": "={{ $json.title }}",
            "Company": "={{ $json.companyName || '' }}",
            "Location": "=={{ $json.location.formattedAddressShort \n   || $json.location.fullAddress \n   || $json.location.country \n   || '' }}\n\n",
            "Job Type": "={{ $json.jobType }}",
            "Description": "={{ $json.descriptionText }}",
            "Source": "Indeed",
            "Scraped At": "={{ $now }}",
            "Raw JSON": "={{ JSON.stringify($json) }}",
            "Apply URL": "={{$json.applyUrl || $json.jobUrl || $json.url || ''}}\n"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Job Key",
              "displayName": "Job Key",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Job Type",
              "displayName": "Job Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Apply URL",
              "displayName": "Apply URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Scraped At",
              "displayName": "Scraped At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Raw JSON",
              "displayName": "Raw JSON",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        624,
        0
      ],
      "id": "f22dd26f-b089-472c-9868-132c03317d8d",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "uI0ru724KVQJV6pY",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "fb8fa066-7a9f-4167-97e9-f9fb5d125896",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "pinData": {},
  "connections": {
    "Run an Actor": {
      "main": [
        [
          {
            "node": "Get dataset items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get dataset items": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a record": {
      "main": [
        []
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Run an Actor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "811d190c-6845-4b7a-8808-2193472176a2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "549f30e1677c70178d2c9102d17023d8000935d0623e005ee5256312ac7ef26c"
  },
  "id": "FTWUmxixqIpGvMHk",
  "tags": []
}