workflows/agent/curl-agent.json
{
  "name": "AI AGENT 1.0 success",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": ""
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"deepseek/deepseek-r1\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a helpful assistant.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\":\"{{ $json.message }}\" \n    }\n  ],\n  \"max_tokens\": 512,\n  \"temperature\": 0.7\n}\n",
        "options": {}
      },
      "id": "9d37c604-b425-4665-969e-738531cad35b",
      "name": "DeepSeek Agent (OpenRouter)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        720,
        304
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-agent",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        288,
        304
      ],
      "id": "1e495c20-d91b-4daa-9912-a99c17a19edd",
      "name": "Webhook",
      "webhookId": "399d0780-e4d1-4213-8b40-88af3f247f8f"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        944,
        304
      ],
      "id": "9b5d9807-c5f2-4fd9-a7cd-5969b7ab41bd",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "193267f3-3e5f-4c12-8a64-e90c0af1948a",
              "name": "message",
              "value": "={{ $json.body.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        304
      ],
      "id": "59a1005e-7db6-4690-9b13-b90af56c4628",
      "name": "input context"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "193267f3-3e5f-4c12-8a64-e90c0af1948a",
              "name": "reply",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        544
      ],
      "id": "19746cca-e7cf-4835-bc1d-7ea861f8cecb",
      "name": "output context"
    }
  ],
  "pinData": {},
  "connections": {
    "DeepSeek Agent (OpenRouter)": {
      "main": [
        [
          {
            "node": "output context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "input context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "input context": {
      "main": [
        [
          {
            "node": "DeepSeek Agent (OpenRouter)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "output context": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "726f8319-5b92-47cb-93ee-e33fd7488828",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "549f30e1677c70178d2c9102d17023d8000935d0623e005ee5256312ac7ef26c"
  },
  "id": "PcuTZI0TBfRX1DkG",
  "tags": []
}
